<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>dash</title>
    <link href="/static/style.css" rel="stylesheet">
    <script type="text/javascript" src="/static/control.js"></script>
</head>

<body>
    <div>
        <h1>Список потоков</h1>
        <table>
            <thead>
                <tr>
                    <td>поток</td>
                </tr>
            </thead>
            {{ $length := len . }}
            {{ if eq $length 0 }}
            <tr>
                <td> <a href="/create.html">Создайте поток</a> </td>
            </tr>
            {{ end }}
            {{ range $key, $value := . }}
            <tr>
                <td>
                  {{$key}}: {{$value}}<br/>
                  <a href="/streamlog.html?path={{$key}}">лог потока</a> <a href="/storagelog.html?path={{$key}}">лог истории</a> <a href="/close.html?path={{$key}}">закрыть</a>
                </td>
            </tr>
            {{ end }}
        </table>
    </div>
</body>

</html>